<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DocuSign_ApiClient" value="https://demo.docusign.net/restapi" />
    <add key="DocuSign_UserName" value="YOURMAIL@MAIL.COM" />
    <add key="DocuSign_Password" value="YOURPASSWORD" />
    <add key="DocuSign_IntegratorKey" value="7c282766-2e02-463d-ae4d-2d4e0fbc624a" />
    <add key="DocuSign_TemplatePersonJuridica" value="cee12176-5719-4112-af14-a4ccad5de95b" />
    <add key="DocuSign_TemplatePersonNatural" value="9e2aafe8-44f2-45db-bdd4-239a9ee795f2" />
    <add key="DocuSign_NroDaysToVerifyStatusChanges" value="30" />
  </appSettings>
</configuration>